//
// Debugging hints fix for the eye
//

.debugging-hints {
    display: block;
}

.debugging-hint-template-file {
    font-weight: 700 !important;
}

.debugging-hint-block-class {
    color: #0e1424 !important;
    font-weight: 700 !important;
}

// Button styles reset
button {
    &:hover {
        border: unset;
    }
    &:focus {
        background: #fff;
        border: unset;
        color: #192131;
    }
}

// Slick slider
.loading {
    background: #fff url('ajax-loader.gif') center center no-repeat;
    height: 442.717px;
    max-width: 1240px;
}

.custom-slider {
    display: none;
}

.product-social-links {
    text-align: unset;
}

.navigation {
    .level0 {
        &.parent {
            > .level-top {
                > .ui-menu-icon {
                    &::after {
                        font-size: 23px;
                    }
                }
            }
        }
    }
}
